{% extends "base.html" %}
{% block title_block %}Profile{% endblock title_block %}

{% block body_block %}

    <h1>Your Profile</h1>
    {% if  user.user_profile%}
        <img src="/media/{{user.user_profile.profile_pic}}" alt="">
    {% else %}
    <img src="/media/profile_pics/male_avatar.jpg" alt="">
    {% endif %}
    <button class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">   <a href="{% url "App_Login:add_pro_pic" %}">Change Profile Pic</a> </button>

    <p>Username:{{user.username}}</p>
    <p>Email:{{user.email}}</p>
    <p>Name:{{user.first_name}} {{user.last_name}}</p>

    <div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">   <a href="{% url 'App_Login:user-change' %}">Change Profile Info</a> </button>
    </div>

{% endblock body_block %}













